<form role="form" id="form-buscar">
  <div class="form-group">
    <div class="md-form active-darkcyan active-cyan-2 mb-3">
      <input id="1" class="form-control" type="text" name="search" placeholder="Search Employee by First Name or Last Name...." [(ngModel)]="searchValue" required/>
    </div>
  </div>
</form>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Employee ID</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col"> Email Id </th>
    <th scope="col">Contact No</th>
    <th scope="col">Date of Birth</th>
    <th scope="col"> Action </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let emp of emp | searchFilter: searchValue">
    <td>{{emp.employeeId}}</td>
    <td>{{emp.first_name}}</td>
    <td>{{emp.last_name}}</td>
    <td>{{emp.emailId}}</td>
    <td>{{emp.contact_no}}</td>
    <td>{{emp.dob}}</td>
    <td>
      <button (click)="removeEmployee(emp.id)" type="button" class="btn btn-danger" >Delete</button> &nbsp;
      <button routerLink="/update/{{emp.id}}" type="button" class="btn btn-warning" style="margin-left: 10px">Edit</button>
      <button routerLink="/details/{{emp.id}}" type="button" class="btn btn-primary" style="margin-left: 10px">View</button>
    </td>
  </tr>
  </tbody>
</table>
