<div class="d-flex justify-content-center" style="margin: 40px 20% 0 0 ">
  <div class="col-md-8 offset-md-3 ">
    <h3> Create Employee </h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="empForm">
      <div class="form-group">
        <div class="form-group">
          <label>Employee ID</label>
          <input class="form-control" formControlName="employeeId" placeholder="AA112233" required type="text">
        </div>
        <label>First Name</label>
        <input class="form-control" formControlName="first_name" required type="text">
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input class="form-control" formControlName="last_name" required type="text">
      </div>

      <div class="form-group">
        <label>Email Id</label>
        <input class="form-control" formControlName="emailId" required type="text">
      </div>

      <div class="form-group">
        <label>Contact No</label>
        <input class="form-control" formControlName="contact_no" required type="text">
      </div>

      <div class="form-group">
        <label>Date Of Birth</label>
        <input class="form-control" formControlName="dob" placeholder="mm-dd-yyyy" required type="text">
      </div>

      <div class="form-group">
        <button [disabled]="!empForm.valid" class="btn btn-success" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
